.body{
	padding:0;
	margin:0;
}
.menu{
	width:5%;
	float:left;
	border:1px solid black;
	
}
.image{
	width:10%;
	float:left;
	border:1px solid black;
	margin-bottom: 20px;
	
}
.search{
	width:59%;
	float:left;
	border:1px solid black;
	font-size: 18px;
	padding-left: 10px;
}
.support{
	width:5%;
	float:left;
	border:1px solid black;
}
.settings{
	width:5%;
	float:left;
	border:1px solid black;
}
.apps{
	width:5%;
	float:left;
	border:1px solid black;
}
.profile{
	width:9%;
	float:left;
	border:1px solid black;
}
.clear{
	clear:both;
}